html {
    height: 100%;
    min-height: 100%;
}

body {
    min-height: 100%;
    transition: background-color 1s;
}

.colorme {
    transition: color 1s;
}

.section{
    max-width:70em;
    margin: auto;
    padding-top: 2rem
}

.black-box {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 500px;
    max-height: 80px;
    word-wrap: break-word;
    display: inline-block;
}

.bf {
    font-weight: bold;
}

.navbar{
    padding-bottom: 1rem;
    background-color: inherit;
}

.title {
    font-size:1.5rem;
}


.bd-post-content {
    max-width: 70em;
}

.name {
    margin-bottom: 2em ;
}

.authors {
    color: #4a4a4a;
}

.conferencetitle {
    margin-top: 0.2em ;
    margin-bottom: 0.5em ;
}

.bio {
    margin-top: 2em ;
    margin-bottom: 2em ;
}

.right {
    float: right;
}

.tagp {
    margin-top: 0.3em ;
    margin-bottom: 0.3em ;
}

.tag-button {
    border-width: 0em;
    border-color: white;
    border-style: solid;
}

.ghostbutton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.is-size-55 {
    font-size: 1.15rem;
}

.is-size-66 {
    font-size: 1.5rem;
}

.padded_block {
    margin-bottom: 0.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.bottom_padding {
    margin-bottom: 1.5rem;
}

.bottom_padding_2 {
    margin-bottom: 2rem;
}


.resume_block {
    margin-bottom: 3rem;
    text-align:left;
}


.nowrap {
    white-space: nowrap;
}

.button_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#reset {
    display: none;
}

.top_padding {
    margin-top: 0.5rem;
}

.resume_header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: inherit;
}


.modal-card-head {
    background-color: hsl(206, 70%, 96%);
    padding: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.modal-card-foot {
    padding: 0px;
}

.modal-card-title {
    font-size: 1rem;
}