
.section{
    max-width:70em;
    margin: auto;
}

.navbar{
    padding-bottom: 1rem;
    background-color: inherit;
}

.title {
    font-size:1.5rem;
}


.bd-post-content {
    max-width: 70em;
}

.name {
    margin-bottom: 2em ;
}

.authors {
    color: #4a4a4a;
}

.conferencetitle {
    margin-top: 0.2em ;
    margin-bottom: 0.5em ;
}

.bio {
    margin-top: 2em ;
    margin-bottom: 2em ;
}

.right {
    float: right;
}

.tagp {
    margin-top: 0.3em ;
    margin-bottom: 0.3em ;
}

.ghostbutton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.is-size-55 {
    font-size: 1.15rem;
}

.is-size-66 {
    font-size: 1.5rem;
}

.padded_block {
    margin-bottom: 1.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.bottom_padding {
    margin-bottom: 1.5rem;
}

.resume_block {
    margin-bottom: 3rem;
    text-align:left;
}


.nowrap {
    white-space: nowrap;
}

.button_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#reset {
    display: none;
}

.top_padding {
    margin-top: 0.5rem;
}
