html {
    height: 100%;
    min-height: 100%;
}

body {
    min-height: 100%;
    transition: background-color 1s;
}

.colorme {
    transition: color 1s;
}

.section{
    max-width:70em;
    margin: auto;
    padding-top: 2rem
}

.footer {
    background-color: white;
    padding: 0rem;
    alignment: left;
}


.black-box {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 500px;
    max-height: 80px;
    word-wrap: break-word;
    display: inline-block;
}

.bf {
    font-weight: bold;
}

.navbar{
    padding-bottom: 1rem;
    background-color: inherit;
}

.title {
    font-size:1.5rem;
}

.title2 {
    font-weight: 600;
    font-size:1.5rem;
    margin-bottom: .3em;
}


.bd-post-content {
    max-width: 70em;
}

.name {
    margin-bottom: 2em ;
}

.authors {
    color: #4a4a4a;
}

.conferencetitle {
    margin-top: 0.2em ;
    margin-bottom: 0.5em ;
}

.bio {
    margin-top: 2em ;
    margin-bottom: 2em ;
}

.right {
    float: right;
}

.tagp {
    margin-top: 0.3em ;
    margin-bottom: 0.3em ;
}

.tag.is-rounded {
    border-radius: 4px !important;
    margin-left: 0.2em !important;
}

.tag-button {
    border-width: 0em;
    border-color: rgba(170, 170, 170, 0.525);
    border-style: solid;
}

.ghostbutton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.is-size-55 {
    font-size: 1.15rem;
}

.is-size-66 {
    font-size: 1.65rem;
}

.padded_block {
    margin-bottom: 0.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.bottom_padding {
    margin-bottom: 0rem;
}

.bottom_padding_2 {
    margin-bottom: 1.6rem;
}


.resume_block {
    margin-bottom: 3rem;
    text-align:left;
}


.nowrap {
    white-space: nowrap;
}

.button_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.subtitle-no-margin {
    margin-bottom: 12px !important;
}

.dropdown-menu {
    z-index: 1000;
}

#reset {
    display: none;
}

.top_padding {
    margin-top: 0.5rem;
}

.resume_header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: inherit;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.modal-card {
    width: 100%; 
    max-width:50em;
}


.modal-background {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.modal-card-head {
    background-color: rgba(0, 0, 0, 0.3);;
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.modal-card-foot {
    padding: 0px;
}

.modal-card-title {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 0.3rem;
    font-weight: 600;
    color: white;
}

.teach-section {
    display: flex;
    flex-direction: row;
}

.teach-description {
    padding-right: .8em;
    flex: 80%;
}


.wrapper {
    position: relative;
  }

.target-div {
position: relative;
z-index: 1;
}


#my-canvas {
position: absolute;
top: 0;
left: 0;
z-index: 2;
pointer-events: none; /* To allow interaction with the content beneath the canvas */
}

.no-wrap {
    white-space: nowrap;
  }


.tsparticles-container {
position: relative;
}

#tsparticles {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 0;
background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

#tsparticles::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0));
    z-index: 0;
    pointer-events: none;
  }

.tsparticles-content {
    z-index: 1;
}

.entry {
    background-color: transparent;  
    border-radius: 6px;
    padding: 20px;
    margin-right: 0.6em;
    margin-left: 0.6em;
    margin-bottom: 1rem !important;
    border: 1px solid rgba(0, 0, 0, 0.05);
    /* border-left: 0px;
    border-right: 0px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    /* backdrop-filter: blur(6px); */
    /* -webkit-backdrop-filter: blur(6px); */
}

.highlighter {
    background-color: transparent;  
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    /* background-color: rgba(76, 176, 239, 0.187); */
    /* border: 1px solid rgba(0, 0, 0, 1); */
}

.year {
    background-color: transparent; 
    border: 0px;
    margin-bottom: 0rem !important;
    box-shadow: none;
    font-family: 'Outfit', sans-serif;
    padding-right: 15px;
    text-align: right;
    padding-top: 4px;
}


img {
    border-radius: 4px
}
/* style="border-radius: 20px; border: 8px solid hsl(347, 90%, 90%);" */

hr {
    /* border: none; */
    height: 1px;
    background-color: rgba(198, 198, 198, 0.9);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.5);
    margin-top: 12px;
    margin-bottom: 6px;
  }

.rotate {
transform: rotate(180deg);
}

.fa-chevron-down {
    transition: transform 0.3s ease-in-out;
  }

.tile.is-child {
    /* max-width: 30em; */
    padding: 1em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-top: 0.7em !important;
    margin-bottom: 0.7em !important;
    margin-right: 0.7em !important;
    margin-left: 0.7em !important;
    z-index: 10;
}

.tile.is-only-child {
    padding: 1em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    margin-top: 0.7em !important;
    margin-bottom: 0.7em !important;
    margin-left: 0.7em !important;
    margin-right: 0.7em !important;
    z-index: 110;
}


#mii {
    position: relative; /* To position the pseudo-element correctly */
    display: inline-block; /* To fit the div size to the image */
    border-radius: 100px;
    overflow: hidden; /* To clip the pseudo-element to the border radius */
}

#mii::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute; /* To cover the entire parent element */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
}


.image {
    position: relative; /* To position the pseudo-element correctly */
    display: inline-block; /* To fit the div size to the image */
    overflow: hidden; /* To clip the pseudo-element to the border radius */
    border-radius: 4px;
}

.image::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute; /* To cover the entire parent element */
    border-radius: 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

.custom-marker {
    background-image: url('./assets/mii.png');
    background-size: cover;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 6px -6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

@media screen and (max-width: 768px) {
    .is-flex-mobile {
        flex-direction: column !important;
    }
    .is-flex-mobile .media-left {
        margin-right: 0;
        margin-bottom: 1em;
    }
}


.navbar-container {
    margin: 0.4em;
    position: relative;
    background: rgba(0, 0, 0, 0.05);
    transform: translateX(0px);
    font-size: 24px;
    font-weight: 500;
    padding: 14px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 380px) {
    .navbar-item {
        width: 100%;
        text-align: center;
    }
}

.navbar-highlight {
    width: fit-content;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    z-index: -1;
}

.navbar-item {
    border-radius: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    margin: 0px 6px 0px 6px;
    padding: 24px 16px;
    transition: opacity 0.3s ease 0s;
    color: rgb(13, 17, 23);
}

a.nav {
    color: rgb(74, 74, 74);
    text-decoration: none;
}

a.nav:hover {
    color: rgb(72, 95, 199); 
    text-decoration:none; 
    cursor:pointer;  
}

.navbar-item {
    transition: left 1s ease-out;
}


.tile.is-child.centered-icon {
    background-color: rgba(79, 166, 237, 0.4); /* or any specific pastel blue you prefer */
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile.is-child.centered-icon-jukeguesser {
    background-color: rgba(78, 205, 148, 0.4); /* or any specific pastel blue you prefer */
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 4em; /* Adjust based on your preference */
    color: rgb(255, 255, 255);
}
